<div class="title-block">
  <h3 class="title pull-left">
      Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>
<div *ngIf="!isLoaded" class="text-center">Loaded ... </div>
<div *ngIf="isLoaded">
    <bkp-history-chart [date]="chartDate"></bkp-history-chart>
    <bkp-history-events
      [categories]="categories"
      [events]="filteredEvents"
    ></bkp-history-events>
    <div *ngIf="isFilterVisible">
      <bkp-history-filter
        (onFilterApply)="onFilterApply($event)"
        (onFilterCancel)="onFilterCancel()"
        [categories]="categories"
      ></bkp-history-filter>
    </div>    
</div>



